<div class="search-page">
  <% if @questions.exists? %>
    <h1>Top Posts</h1>
  <% else %>
    <h1>Oop! No matching posts ...</h1>
  <% end %>
<div class="user-images">
    <% @questions.each do |post|%>
      <div class="wrapper">
        <%= render partial: 'questions/question', object: question %>
      </div>
    <% end %>
  </div>
</div>
